@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap');

* {
  box-sizing: border-box;
}

body,
ul,
ol,
dl,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

html {
  font-size: calc(16px + 0.39vw);
}

body {
  background-color: #00091f;
  
}

img {
  border: none;
  max-width: 100%;
}

.page {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  padding: 0 12vw 0 12vw;
}

.page.Home {
  background-image: url("./images/bgDarkMode.webp");
  background-size: cover;
}

.page.Games {
  padding-top: 100px;
  padding-bottom: 50px;
  height: auto;
  display: flex;
  background-image: url("./images/Games.jpg");
  background-size: cover;
}

.page.GameDetails {
  padding-top: 90px;
  padding-bottom: 20px;
  height: auto;
  background-image: url("./images/Games(1).jpg");
  background-size: cover;
}

#link {
  text-decoration: none;
  color: #c5c5c5;
}